<!DOCTYPE html>
<html lang="en">
    <title>AutoBee for CS support</title>
    <head>
        <link href="../static/main.css" rel="stylesheet"> 
    </head>


    <body>
        <div class ="container">
           <p> Thank you for using Autobee !<br>
            Please see Javascript below.
            </p>

            <form >
                <label for="w3review">Zendesk Javascript:</label>
                <textarea id="w3review" name="w3review" rows="10" cols="100">
{{ zendesk }}
                  </textarea>
                  <br><br>
                <label for="w3review">Cisco Javascript:</label>
                <textarea id="w3review" name="w3review" rows="10" cols="100">
{{ cisco }}   
                  </textarea>
                  <br><br>

                  <a href=button_goback> <button type="button"> Go back</button></a>
            </form> 
                



        </div>
        

    </body>
</html>