<!DOCTYPE html>
<html lang="en">
    <title>AutoBee for CS support</title>
    <head>
        <link href="../static/main.css" rel="stylesheet"> 
    </head>


    <body>
        <div class ="container">
           <p> Thank you for using Autobee !<br>
            Please see Javascript below.
            </p>

           
                <label for="w3review">Zendesk Javascript:</label>
                <textarea id="zendeskid" name="w3review" rows="10" cols="100">
{{ zendesk }}
                  </textarea>
                  <br><br>
                  <button onclick="copyFunctionZendesk()">Copy</button>   


                  <br><br>
                <label for="w3review">Cisco Javascript:</label>
                <textarea id="ciscoid" name="w3review" rows="10" cols="100">
{{ cisco }}   
                  </textarea>
                  <br><br>
                  <button onclick="copyFunctionCisco()">Copy</button> 
                  <br><br>

                  <a href=button_goback> <button type="button"> Go back</button></a>
           
                


 
        </div>
        
        <script>
            function copyFunctionZendesk(){
                var copyText=document.getElementById("zendeskid");
                copyText.select();
                copyText.setSelectionRange(0,99999)
                document.execCommand("copy");
                alert("Copied the zendesk javascript");
                
            }
            
            function copyFunctionCisco(){
                var copyText=document.getElementById("ciscoid");
                copyText.select();
                copyText.setSelectionRange(0,99999);
                document.execCommand("copy");
                alert("Copied the cisco javascript");
            }

        </script>

    </body>
</html>